*{
  font-family: arial;
}
body{
	padding: 0px;
	margin: 0px;
  background-image: url("../images/fonfo2.jpg");
}

header{
	background-image: url("../images/fonfo2.jpg");
  margin-left: auto;
  margin-right: auto;
}

/*.header-logo-derecho{
	height: 130px;
	width: 100%;
}

.logo{

}*/

.title-p{
    padding: 30px;
    color: ;
    font-size: 25px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.container-main{
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 635px;
}

nav{
  width: 550px;
  height: 40px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

ul#mainmenu, ul#mainmenu ul{
  list-style: none;
  padding: 0 auto;
  text-align: center;
}

ul#mainmenu li{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px 15px 20px;
  position: relative;
  line-height: 18px;
}

ul#mainmenu li a{
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

ul#mainmenu li a:hover{
  color: #003366;
}

#contenido{
  padding: 10px;
  margin: 10px;
  width: 1000px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  border-color: #FFF;
  border-style: solid;
}

.conten{
  background-image: url("../images/tec1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170px 170px;
}

/*formulario*/

#formulario{
  text-align: center;
  border-style: solid;
  border-color: #0000;
  border-width: 1px;
  color: #003366;
  width: 450px;
  padding: 20px;
  margin: 0 auto;
  *zoom: 1;
  min-height: 300px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario1{
  text-align: center;
  border-style: solid;
  border-color: #0000;
  border-width: 1px;
  color: #003366;
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}


#formulario3{
  text-align: center;
  border-style: solid;
  border-color: #0000;
  border-width: 1px;
  color: #003366;
  width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario4{
  text-align: center;
  border-style: solid;
  border-color: #0000;
  border-width: 1px;
  color: #003366;
  width: 500px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 70px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

textarea{
  width: 400px;
  height: 200px;
}

.campo, textarea{
  background:#EEE;
  border-color:#000;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
} 

.campo:focus, textarea:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}

.campo1{
  background:#EEE;
  border-color:#000;
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

} 

.campo1:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
  -moz-box-shadow: 0 0 10px #003366;
}

.campo3{
  background:#EEE;
  border-color:#000;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  width: 400px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
} 

.campo3:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}

.campo4{
  background:#EEE;
  border-color:#000;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  width: 400px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
} 

.campo4:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
  -moz-box-shadow: 0 0 10px #003366;
}


#footer{
  text-align: center;
  font-family: verdana;
  font-size: 12px;
  font-weight: bolder;
  padding-top: 15px;
}

.buscar, .deLete, .regresar{
  background: #99B2E6;
  padding: 10px;
  width: 120px;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.buscar:hover{
  -webkit-box-shadow: 0 0 10px #003366;
  -moz-box-shadow: 0 0 10px #003366;
}

/*validacion del formulario contacto*/
.errores{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background: red;
  display: none;
  position: absolute;
  margin-top: -80px; 
  margin-left: 340px;
  padding: 10px;
}

/*tabla*/
.table{
  padding: 10px;
  margin: 0 auto;
}

.tabla{
  width: 98%;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
  -moz-border-radius-bottomleft:9px;
  -webkit-border-bottom-left-radius:9px;
  border-bottom-left-radius:9px;
  -moz-border-radius-bottomright:9px;
  -webkit-border-bottom-right-radius:9px;
  border-bottom-right-radius:9px;
  -moz-border-radius-topright:9px;
  -webkit-border-top-right-radius:9px;
  border-top-right-radius:9px;
  -moz-border-radius-topleft:9px;
  -webkit-border-top-left-radius:9px;
  border-top-left-radius:9px;
}

.num, .tit, .carr, .ind, .prol, .tes, .ver, .view{
  text-align: center;
}

.num{
  width: 5%;
}

.tit{
  width: 50%;
}

.carr, .ind, .prol, .tes, .ver .del{
  width: 10%;
}

.ver a:link{
  text-decoration: none;
  color: #000;
}


  


