*{
  font-family: arial;
}
body{
	padding: 0px;
	margin: 0px;
  background: #CCCCCC;
}

header{
	background-color: #003366;
	height: 150px;
	width: 100%;
}

/*.header-logo-derecho{
	height: 130px;
	width: 100%;
}

.logo{

}*/

.title-p{
    padding: 30px;
    color: #FFF;
    font-size: 25px;
    /*text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
}

.container-main{
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 635px;
}

nav{
  width: 550px;
  height: 40px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #EEE;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

ul#mainmenu, ul#mainmenu ul{
  list-style: none;
  padding: 5px;
  text-align: center;
}

ul#mainmenu li{
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px 15px 20px;
  position: relative;
  line-height: 18px;
}

ul#mainmenu li a{
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

ul#mainmenu li a:hover{
  
  color: #003366;
}

/*formulario*/

#formulario{
  color: #003366;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 300px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario1{
  color: #003366;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 70px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario2{
  text-align: center;
  color: #003366;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 70px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario3{
  color: #003366;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 70px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

#formulario4{
  color: #003366;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  min-height: 70px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

textarea{
  width: 400px;
  height: 200px;
}

.campo, textarea{
  background:#EEE;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
  -webkit-border-radius: 3px;
} 

.campo:focus, textarea:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}

.campo1{
  background:#EEE;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 250px;
  -webkit-border-radius: 3px;
} 

.campo1:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}

.campo3{
  background:#EEE;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 350px;
  -webkit-border-radius: 3px;
} 

.campo3:{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}

.campo4{
  background:#EEE;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 350px;
  -webkit-border-radius: 3px;
} 

.campo4:focus{
  background: #FFF;
  outline: none;
  -webkit-box-shadow: 0 0 10px #003366;
}


#footer{
  text-align: center;
  font-family: arial;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 15px;
}

.buscar{
  background: #FF6600;
  border: 0;
  padding: 10px;
  width: 120px;
  -webkit-border-radius: 3px;
}

.buscar:hover{
  -webkit-box-shadow: 0 0 10px #003366;
}


